img{
    max-width: 100%;
    height: auto;
    background: lightblue;
    background: radial-gradient(white 30%, lightblue 70%);
}
.myimage{
    /*  if you want to change the size of thumbnails */

}

.mycheck{
    text-align: left!important;

}

.datepickers{
    margin: 25px ;
}

.room_description{
    padding: 20px 30px;
}
h1{
    margin-top: 25px!important;

}

.fa-star,
.fa-star-half{
    color: yellowgreen;
    padding: 3% 0;
}